# macOS files
.DS_Store

# Windows files
Thumbs.db

# Xcode files
xcuserdata

# Eclipse files
.project
.cproject
.settings

# PyCharm files
.idea

# VS Code files
.vscode

# Compiled Python files
*.pyc

_build/**
